.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 12px;
  width: 70%;
  margin: 0 auto;
  padding: 16px;
  margin-bottom: 24px;
  .input {
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    padding: 16px;
  }
  .send {
    svg {
      fill: #8babd8;
      &:hover {
        fill: red;
      }
    }
  }
}
