.root {
  flex-basis: 20%;
  text-align: center;
  .nav {
    margin-bottom: 12px;
    .article {
      font-weight: 800;
      font-size: 24px;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
  }
}
