body {
    width: 100vw;
    position: relative;
}
.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}
.users {
    flex-basis: 20%;
    text-align: center;
}
.users__nav {
    margin-bottom: 12px;
}
.users__article {
    font-weight: 800;
    font-size: 24px; 
}
.users__list {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
}
.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
}
.chat {
    flex-basis: 80%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('../img/bg.jpg');
}
.chat__main {
    padding: 42px 111px;
    height: 100%;
    overflow-y: scroll;
}
.chat__message {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border-radius: 12px 12px 12px 0;
    padding: 4px 12px;
    width: 450px;
    min-height: 40px;
    margin-bottom: 16px;
    font-size: 18px;
}
.chat__message_my {
    background-color: lightgreen;
    margin-left: auto;
    border-radius: 12px 12px 0 12px;
}
.chat__attachment {
    max-width: 250px;
}
.chat__username {
    display: block;
    color: blue;
    font-weight: 800;
    margin-right: 5px;
}
.chat__control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 12px;
    width: 70%;
    margin: 0 auto;
    padding: 16px;
    margin-bottom: 24px;
}
.control__input {
    all: unset;
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    padding: 16px;
}
.attach__input {
    display: none;
 }
 .attach__ico {
     width: 30px;
     height: 30px;
 }
 .attach__ico:hover {
     fill: red;
     cursor: pointer;
 }
.control__send {
    all: unset;
    cursor: pointer;
}

.control__send>svg {
    fill: #8BABD8;
}
.control__send>svg:hover {
    fill: red;
}
.avatar {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 30px;
    margin-right: 10px;
}
.popups {
    position: absolute;
    right: 2%;
    bottom: 2%;
    z-index: 10;
}
.popup {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 25px;
    background-color: #fff;
    margin-bottom: 15px;
box-shadow: 0px 12px 0px 0px rgba(0, 0, 0, 0.3);
}
.popup__close {
    position: absolute;
    right: 3%;
    top: 3%;
}
.popup__close::after {
    content: "\274C";
    color: red;
    font-size: 20px;
}
.popup__message {
    font-weight: 800;
    font-size: 18px;
}
.popup__message_connect {
    color:forestgreen;
}
.popup__message_disconnect {
    color:deeppink;
}