.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/img/bg.jpg');
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.root {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  max-width: 550px;
  height: 300px;
  border-radius: 50px;
  .heading {
    font-size: clamp(1.875rem, 1.7361rem + 0.7407vw, 2.625rem);
    font-weight: 800;
    text-align: center;
  }
  .button {
    background-color: aquamarine;
    padding: 16px 20px;
    font-size: clamp(1.5rem, 1.3611rem + 0.7407vw, 2.25rem);
    margin-bottom: 24px;
    &:hover {
      color: aquamarine;
      background-color: black;
    }
  }
}
