.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/img/bg.jpg');
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.root {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  width: 30%;
  height: 40%;
  border-radius: 50px;
  .heading {
    font-size: 42px;
    font-weight: 800;
    text-align: center;
  }
  .button {
    background-color: aquamarine;
    padding: 16px 20px;
    font-size: 36px;
    margin-bottom: 24px;
    &:hover {
      color: aquamarine;
      background-color: black;
    }
  }
}
